<!DOCTYPE html>
<html>
<body>
<div id='vertical-menu'>
    <ul id='cssnav'>
        <li class='sub'><a href='/'>  Home  </a></li>
        <li class='sub'><a href=''>Daily Metrics</a>
            <ul>
                <li class='active'>
                    <nav>
                        <a routerLink="/flow">Flow</a>
                    </nav>
                </li>
                <li class='active'>
                    <nav>
                        <a routerLink="/mindfulness">Mindfulness</a>
                    </nav>
                </li>
                <li class='active'>
                        <nav>
                            <a routerLink="/anxiety">Anxiety</a>
                        </nav>
                    </li>
                <li class='active'>
                    <nav>
                        <a routerLink="/depression">Depression</a>
                     </nav>
                </li>
            </ul>
        </li>

        <li class='sub'><a href=''>Inspiration</a>
            <ul>
                <li class='active'><a href='https://scottrbrtsn.github.io' target="_blank">Words of reason</a></li>
                <li class='active'><a href='/game/game.html'>Game World</a></li>
            </ul>
        </li>
        <li class='sub'><a href=''>Single Entry</a>
            <ul>
                    <li class='active'>
                            <nav>
                                <a routerLink="/personality">Personality</a>
                             </nav>
                    </li>
            </ul>
        </li>
    </ul>
    <br>
</div>

</body>
</html> 



