<!DOCTYPE html>
<html>
<body>
<div id='vertical-menu'>
    <ul id='cssnav'>
        <li class='sub'><a href='/'>  Home  </a></li>
        <li class='sub'><a href=''>Daily Metrics</a>
            <ul>
                <li class='active'>
                    <nav>
                        <a routerLink="/flow">Flow</a>
                    </nav>
                </li>
                <li class='active'>
                    <nav>
                        <a routerLink="/mindfulness">Mindfulness</a>
                    </nav>
                </li>
            </ul>
        </li>

        <li class='sub'><a href=''>Demographics</a>
            <ul>
                <li class='active'><a href='/surveys/demographics/user.html'>User</a></li>
            </ul>
        </li>
        <li class='sub'><a href=''>Inspiration</a>
            <ul>
                <li class='active'><a href='https://scottrbrtsn.github.io' target="_blank">Words of reason</a></li>
                <li class='active'><a href='/game/game.html'>Game World</a></li>
            </ul>
        </li>
    </ul>
    <br>
</div>

</body>
</html> 



