<div id="game" ng-controller = "myController as myCtrl">

    <h1> GAME WORLD</h1>
        <div>
                 <div id="straight1">
                    <img alt="1" src="{{currentHallSrc}}" />
                </div>                 
                <div id="hallButtons">
                    <button id="forwardHall" name="forward" (click)="forwardHall()" type="button">Forward</button>
                    <br />
                </div>
        </div>
        <div>
            <div id="box1N">
                <img alt="1N" src="/assets/world-images/SquareDungeon/1N.jpg" />
            </div>
            <div id="box1S">
                <img alt="1S" src="/assets/world-images/SquareDungeon/1S.jpg" />
            </div>
            <div id="box1E">
                <img alt="1E" src="/assets/world-images/SquareDungeon/1E.jpg" />
            </div>
            <div id="box1W">
                <img alt="1W" src="/assets/world-images/SquareDungeon/1W.jpg" />
            </div>
            <div id="box2N">
                <img alt="2N" src="/assets/world-images/SquareDungeon/2N.jpg" />
            </div>
            <div id="box2S">
                <img alt="2S" src="/assets/world-images/SquareDungeon/2S.jpg" />
            </div>
            <div id="box2E">
                <img alt="2E" src="/assets/world-images/SquareDungeon/2E.jpg" />
            </div>
            <div id="box2W">
                <img alt="2W" src="/assets/world-images/SquareDungeon/2W.jpg" />
            </div>
            <div id="box3N">
                <img alt="3N" src="/assets/world-images/SquareDungeon/3N.jpg" />
            </div>
            <div id="box3S">
                <img alt="3S" src="/assets/world-images/SquareDungeon/3S.jpg" />
            </div>
            <div id="box3E">
                <img alt="3E" src="/assets/world-images/SquareDungeon/3E.jpg" />
            </div>
            <div id="box3W">
                <img alt="3W" src="/assets/world-images/SquareDungeon/3W.jpg" />
            </div>
            <div id="box4N">
                <img alt="4N" src="/assets/world-images/SquareDungeon/4N.jpg" />
            </div>
            <div id="box4S">
                <img alt="4S" src="/assets/world-images/SquareDungeon/4S.jpg" />
            </div>
            <div id="box4E">
                <img alt="4E" src="/assets/world-images/SquareDungeon/4E.jpg" />
            </div>
            <div id="box4W">
                <img alt="4W" src="/assets/world-images/SquareDungeon/4W.jpg" />
            </div>
        </div>
        <br />
        <div id="buttons">
            <button id="forward" name="forward" (click)="forward()" type="button">Forward</button>
            <br />
            <button id="left" name="left" (click)="left()" type="button">Left</button>
            <button id="right" name="right" (click)="right()" type="button">Right</button>
        </div>
    </div>
    
    